
$bg-color: #f0f0f0;
$white: white;
$white-smoke: #f5f5f5;
$dark-blue: #0062e6;
$sky-blue : #33aeff;
$cyan-blue: #007bff;
$dodger-blue: #2888ff;
$shadow: rgba(0, 0, 0, 0.1);
$grayish-blue:#495057;
$gray: #777;
$muted-col: #6c757d;
$dim-gray: #696969;
$dark-red: #f44336;
$cards-shadow: rgb(192 192 192 / 83%);
