<div [ngClass]="{'cursor': isLoading }">
  <h5 class="card-title text-center">Sign Up</h5>
  <form class="form-signin" [formGroup]="formRef" (ngSubmit)="onSubmit()">
    <div class="form-label-group">
      <input type="name" formControlName="name" id="inputName" class="form-control" placeholder="Full Name" required autofocus ngModel>
      <label for="inputName">Full Name</label>
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger pl-3">
        <div *ngIf="name.errors?.required">
          Full Name is required.
        </div>
        <div *ngIf="name.errors?.pattern">
         Name Should not Contain any special characters.
        </div>
      </div>
    </div>
    <div class="form-label-group">
      <input type="email" formControlName="email" id="inputEmail" class="form-control" placeholder="Email address" required email ngModel>
      <label for="inputEmail">Email address</label>
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger pl-3">
        <div *ngIf="email.errors?.required">
          Email is required.
        </div>
        <div *ngIf="email.errors?.email">
         Please provide a valid email.
        </div>
      </div>
    </div>
    <div class="form-label-group">
      <input type="password" formControlName="password" id="inputPassword" class="form-control" placeholder="Password" required ngModel>
      <label for="inputPassword">Password</label>
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger pl-3">

        <div *ngIf="password.errors?.required">
          Password is required.
        </div>
        <div *ngIf="password.errors?.minlength">
         Minimum length of password should be 8.
        </div>
      </div>
    </div>
    <div class="form-label-group">
      <input type="password" formControlName="confirmPassword" id="inputConfirmPassword" class="form-control" placeholder="Password" required ngModel>
      <label for="inputConfirmPassword">Confirm Password</label>
      <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="text-danger pl-3">
        <div *ngIf="confirmPassword.errors?.required">
          Confirm Password is required.
        </div>
        <div *ngIf="confirmPassword.errors?.minlength">
         Minimum length of password should be 8.
        </div>
        <div *ngIf="!confirmPassword.errors?.minlength && confirmPassword.errors?.matchPassword">
          Password and Confirm Password must be same.
        </div>
      </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block" [disabled]="!formRef.valid || isLoading">
      <span [ngClass]="{'spinner-grow spinner-grow-sm': isLoading }" role="status" aria-hidden="true"></span>
      SIGN UP</button>
    <hr class="my-4">
    <a routerLink="/auth/signin" class="btn btn-lg btn-primary btn-block">SIGN IN</a>
  </form>
</div>