<ng-container>
  <div [ngClass]="{'cursor': isLoading }">
    <h5 class="card-title text-center">Enter OTP and New Password</h5>
    <form class="form-signin" [formGroup]="otpformRef" (ngSubmit)="onSubmitOTP()">
      <div class="form-label-group">
        <input type="text" formControlName="otp" name="otp" id="inputOTP" class="form-control" placeholder="OTP" required autofocus>
        <label for="inputOTP">OTP</label>
      </div>
      <div *ngIf="otp.invalid && (otp.dirty || otp.touched)" class="text-danger pl-3 mb-2">

        <div *ngIf="otp.errors?.required">
          otp is required.
        </div>
        <div *ngIf="otp.errors?.minLength">
          OTP must be of 6 digits.
        </div>
        <div *ngIf="otp.errors?.pattern">
          Only digits are allowed.
        </div>
      </div>

      <div class="form-label-group">
        <input type="text" formControlName="newPassword" name="newPassword" id="inputPassword" class="form-control" placeholder="New Password" required>
        <label for="inputPassword">New Password</label>
      </div>

      <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="text-danger pl-3 mb-2">

        <div *ngIf="newPassword.errors?.required">
          New Password is required.
        </div>
        <div *ngIf="newPassword.errors?.minLength">
          Minimum length must be 8.
        </div>
      </div>

      <div class="form-label-group">
        <input type="text" formControlName="confirmNewPassword" name="confirmNewPassword" id="inputNewPassword" class="form-control" placeholder="Confirm New Password" required>
        <label for="inputNewPassword">Confirm New Password</label>
      </div>
      <div *ngIf="confirmNewPassword.invalid && (confirmNewPassword.dirty || confirmNewPassword.touched)" class="text-danger pl-3 mb-2">

        <div *ngIf="confirmNewPassword.errors?.required">
          New Password is required.
        </div>
        <div *ngIf="confirmNewPassword.errors?.minLength">
          Minimum length must be 8.
        </div>
        <div *ngIf="!confirmNewPassword.errors?.minlength && confirmNewPassword.errors?.matchPassword">
          New and Confirm Password must be same.
        </div>
      </div>

      <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase" [disabled]="!otpformRef.valid || isLoading">
        <span [ngClass]="{'spinner-grow spinner-grow-sm': isLoading }" role="status" aria-hidden="true"></span>
        Submit</button>
      <hr class="my-4">
      <a routerLink="/auth/signin" class="btn btn-lg btn-primary btn-block text-uppercase"><i class="far fa-envelope mr-2"></i> Sign in</a>
    </form>
  </div>
</ng-container>