<div [ngClass]="{'cursor': isLoading }">
  <h5 class="card-title text-center">Forgot Password</h5>
  <form class="form-signin" [formGroup]="emailformRef" (ngSubmit)="onSubmitEmail()">
    <div class="form-label-group">
      <input type="email" formControlName="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputEmail">Email address</label>
    </div>
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger pl-3 mb-2">

      <div *ngIf="email.errors?.required">
        Email is required.
      </div>
      <div *ngIf="email.errors?.email">
        Please enter a valid email.
      </div>
    </div>
    <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase" [disabled]="!emailformRef.valid || isLoading">
      <span [ngClass]="{'spinner-grow spinner-grow-sm': isLoading }" role="status" aria-hidden="true"></span>
      Send OTP</button>
    <hr class="my-4">
    <a routerLink="/auth/signin" class="btn btn-lg btn-primary btn-block text-uppercase"><i class="far fa-envelope mr-2"></i> Sign in</a>
  </form>
</div>