.dashboard-warpper {
  .main-container {
    width: 98%;
    margin: auto;
    .cover-picture {
      padding-top: 100px;
      img {
        width: 100%;
      }
      @media only screen and (max-width: 992px) {
        padding-top: 50px;
      }
    }
    .sidebar {
      float: left;
      position: relative;
      top: -175px;
      width: 23%;
      .mb-45 {
        margin-bottom: 45px;
      }

      @media only screen and (max-width: 576px) {
        float: none;
        margin: auto;
        top: 0;
        width: 85%;
      }
      @media (min-width: 577px) and (max-width: 768px) {
        top: -120px;
        width: 28%;
      }
    }
  }
}
